@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53);
    box-shadow: 0 16px 14x #04152d;
    padding: 18px 24px;
    max-width: 345px;
}